{% extends 'layout.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/partial-post-section.css' %}">

<div class="container">
    <div class="left">
    </div>
    <div class="middle">
        <!--New Post Editor-->
        <div class="new-post-editor">
            <img id="self-avatar" src="{{ request.user.profile.avatar.url }}">
            <form class="editor" method="post">
                {% csrf_token %}
                <textarea name="content" required placeholder="Write something here..." maxlength="500" minlength="5"></textarea>
                <br>
                <input class="btn post-btn" type="submit" value="Post Now">
            </form>
        </div>
        <!--Show all friends' post and user posts-->     
            {% include 'partial-post-section.html' %}
    </div>

    <div class="right">
        <div class="right-section">
        <div class="noti-section">
            <h3>Notifications</h3>   
            {% for n in noti %}
            {% if n.isRead %}
            {% if n.url != None %}<a href = "/{{ n.url }}">{% endif %}
                <div class="single-noti read">
                <div class="noti-avatar-grid">
                    <img class="noti-avatar" src="{{ n.otherEndUser.profile.avatar.url }}">
                </div>
                <div class="noti-message-grid">
                    <div class="noti-message">
                        <p><span>{{ n.otherEndUser.get_full_name }}</span> {{ n.message }}</p>
                        <p class="noti-date">{{ n.createdAt }}</p>
                    </div>
                </div>
                </div>{% if n.url != None %}</a>{% endif %}
            {% else %}
            {% if n.url != None %}<a href = "/{{ n.url }}">{% endif %}
                <div class="single-noti not-read">
                <div class="noti-avatar-grid">
                    <img class="noti-avatar" src="{{ n.otherEndUser.profile.avatar.url }}">
                </div>
                <div class="noti-message-grid">
                    <div class="noti-message">
                        <p><span>{{ n.otherEndUser.get_full_name }}</span> {{ n.message }}</p>
                        <p class="noti-date">{{ n.createdAt }}</p>
                    </div>     
                </div>
                </div>{% if n.url != None %}</a>{% endif %}
            {% endif %}
            {% endfor %}
            <br>
            <a id="see-more" href="{% url 'notifications' %}">See more</a>
        </div>
        <hr>
        <div class="followings-section">
            <h3>People you followed</h3>
        </div>
        </div>
    </div>
</div>

<script src="{% static 'js/common-functions.js' %}"></script>
<script>
    let numberOfLoad = 1;
    $(document).ready(() => {
        handleAction(0, 9, "{{ csrf_token }}");
        TrimContent();  
        adjustLoadingPos();
        handlePostSetting(0, 9, "{{ csrf_token }}");

        //Adjust the notification pos
        $(".noti-message").each((index) => {
            let notiMessage = $(".noti-message").eq(index);
            notiMessage.css("margin-top", `${(notiMessage.parent().height()-notiMessage.height())/2}px`);
        });
        $(".noti-avatar").each((index) => {
            let notiAvatar = $(".noti-avatar").eq(index);
            notiAvatar.css("margin-top", `${(notiAvatar.parent().height()-notiAvatar.height())/2}px`);
        });
    });

    pageScrollAjax("{% url 'home' %}", "{{ csrf_token }}", "{{ request.user.id }}");
</script>
{% endblock %}
