{% extends 'layout.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/partial-post-section.css' %}">

<div class="container">
    <div class="left">
    </div>
    <div class="middle">
        <!--New Post Editor-->
        <div class="new-post-editor">
            <img id="self-avatar" src="{{ request.user.profile.avatar.url }}">
            <form class="editor" method="post">
                {% csrf_token %}
                <textarea name="content" required placeholder="Write something here..."></textarea>
                <br>
                <input class="btn post-btn" type="submit" value="Post Now">
            </form>
        </div>
        <!--Show all friends' post and user posts-->     
            {% include 'partial-post-section.html' %}
    </div>

    <div class="right">
    </div>
</div>

<script src="{% static 'js/common-functions.js' %}"></script>
<script>
    let numberOfLoad = 1;
    $(document).ready(() => {
        handleAction(0, 9, "{{ csrf_token }}");
        TrimContent();  
        adjustLoadingPos();  
    });

    pageScrollAjax("{% url 'home' %}", "{{ csrf_token }}");
</script>
{% endblock %}
