{% extends 'login_layout.html' %}

{% block content %}

<div class="right-content">
    <h2>Login With Your SociaLINK Account</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-error">
            {{ loginForm.non_field_errors|striptags }}
            {{ field.errors|striptags }}
        </div>
        <table>
            {% for field in loginForm %}  
                <tr><td>{{ field.label }}</td></tr>
                <tr><td style="padding-bottom:5px">{{ field }}</td></tr>
            {% endfor %}
            <tr><td>
                <input class="btn" type="submit" value="Login">
            </td></tr>
        </table>
    </form>
    <p class="redirect">Register for a new account now!</p>
</div>

<script>
    $(document).ready(() => {
        $(".redirect").click(() => {
            window.location.href = "{% url 'new_register' %}";
        });
    });
</script>

{% endblock %}