{% extends 'layout.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/partial-post-section.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/user_page.css' %}">

<div class="container">
    <div class="header-cover">
        <img class="cover-image" src="{{ targetUser.profile.cover.url }}">
    </div>
    <div class="left">
        <div class="header-avatar">
            <img class="avatar-image" src="{{ targetUser.profile.avatar.url }}">
            <h2>{{ targetUser.get_full_name }}</h2>
            <p>Gender: {{ targetUser.gender }}</p>
            <p>Age: {{ targetUser.age }}</p>
            <!--You cannot follow yourself-->
            {% if request.user != targetUser %}
            {% if not targetUser in request.user.following.all %}
                <button class="btn follow-btn" id="follow-user-{{ targetUser.id }}" title="Follow {{ targetUser.get_full_name }}">Follow</button>
            {% else %}
                <button class="btn follow-btn stop-following" id="follow-user-{{ targetUser.id }}" title="Stop following {{ targetUser.get_full_name }}">Following
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="white" d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"/></svg>
                </button>
            {% endif %}
            {% endif %}
        </div>
    </div>
    <div class="middle">
        <p class="statistic">Followers: {{ followers }}, Followings: {{ followings }}</p>
        <!--Post Section-->     
        {% include 'partial-post-section.html' %}
        <!---->
    </div>

    <div class="right">
    </div>
</div>
<script src="{% static 'js/common-functions.js' %}"></script>
<script src="{% static 'js/follow-action.js' %}"></script>
<script>
    let numberOfLoad = 1;
    $(document).ready(() => {
        TrimContent();
        handleAction(0, 9, "{{ csrf_token }}");
        handlePostSetting(0, 9, "{{ csrf_token }}");
        adjustLoadingPos();
        followAction("{{ csrf_token }}", 10, 30);
    });

    pageScrollAjax("{% url 'user_page' targetUser.slug %}", "{{ csrf_token }}");
</script>
{% endblock %}
