.new-post-editor {
    grid-row: 1;
    display: grid;
    grid-auto-columns: 20% 70%;
    grid-gap: 5%;
}

    #self-avatar {
        grid-column: 1;
        max-width: 100%;
        max-height: 220px;
    }

    .editor {
        grid-column: 2;
        text-align: center;
        padding: 10px 0;
    }

    textarea {
        resize: none;
        width: 90%;
        height: 60%;
        margin-bottom: 10px;
    }

    .post-btn {
        background-color: #448BA3;
    }

    .post-btn:hover {
        background-color: rgb(55, 112, 131);
    }

    @keyframes loading {
        0% { transform: rotateZ(0deg); }
        100% { transform: rotateZ(360deg); }
    }

#no-more-posts {
    color: red;
    margin: 0 10px;
}

.left {
    grid-column: 1;
    background-color: green;
}
.right {
    grid-column: 3;
    background-color: red;
}

@media only screen and (max-device-width: 500px) {
    .new-post-editor {
        display: initial;
    }
    
    #self-avatar {
        display: none;
    }

    textarea {
        width: 95%;
    }
}