body{
    padding: 0;
    margin: 0px;
    font-family: Verdana, Tahoma, sans-serif;
    background-color: lavender;
    font-size: 0.95rem;
    word-break: break-word;
    word-wrap: break-word;
}

body::-webkit-scrollbar { 
    display: none; 
}
.content {
    padding: 25px;
}
input, textarea, select {
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type=submit] {
    cursor: pointer;
}

.btn {
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    color: white;
}

.navbar {
    margin: 0;
    list-style-type: none;
    padding: 0px;
    overflow: hidden;
    background-color: rgb(73, 142, 165);
}
    .navbar li {
        color: white;
        float: right;
    }
        .navbar li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            cursor: pointer;
            transition: 0.3s;
        }

        .navbar .nav-item :hover {
            box-shadow: 0 -5px 0px -2px white inset;
        }

        .search-bar {
            position: absolute;
        }

        .search-bar-container { 
            background-color: lavender;
            border-radius: 5px;
            padding: 1px;
        }

        #search-icon {
            position: absolute;
            left: 5px;
            width: 20px;
        }

        #search-bar input {
            background-color: inherit;
            border: none !important;
            border-radius: 0 !important;
            outline: none;
            padding-left: 30px;
            margin: 0;
        }
        
        .title {
            position: absolute;
            top: -3px;
            left: 0;
            font-size: 20px;
        }

#self-avatar {
    border-radius: 50%;
}

.follow-btn {
    background-color: orangered;
}

    .follow-btn:hover {
        background-color: rgb(211, 56, 0);
    }

.stop-following {
    position: relative;
    background-color: #448BA3;
    padding-right: 30px;
    padding-left: 10px !important;
    text-align: left !important;
}

    .stop-following:hover{ 
        background-color: rgb(211, 0, 0);
    }

    .stop-following svg {
        position: absolute;
        width: 17px;
        top: 10px;
        right: 10px;
    }

@media only screen and (max-device-width: 500px) {
    .btn {
        font-size: 15px;
        padding: 5px;
    }

    .search-bar {
        display: none;
    }
}