.container {
    display: grid;
    grid-auto-columns: 24% 50% 24%;
    grid-gap: 1%;
}

.middle {
    grid-column: 2;
    display: grid;
    grid-auto-rows: auto auto;
    grid-gap: 20px;
}

.post-section {
    grid-row: 2;
}

    .post-detail {
        margin: 10px;
    }
    .post-avatar {
        height: 50px;
        border-radius: 50%;
    }

    .post-user-name  {
        display: inline;
        padding: 0 10px;
        font-size: 17px;
        border-radius: 3px;
        background-color: rgb(75, 196, 140);  
    }

        .post-user-name a {
            color: white;
            text-decoration: none;
        }

    .post-content {
        border: 1px solid #ccc;
        background-color: white;
        padding: 5px 10px;
        white-space: pre-wrap;
    }

    .post-footer {
        padding-top: 5px;
        padding-left: 15px;
    }

        .post-date {
            float: right;
            font-size: 14px;
        }

        .post-action {
            display: inline-block;
            width: 20px;
            cursor: pointer;
        }

        .action-number {
            margin-left: 3px;
            margin-right: 2%;
        }

.load-more {
    display: none;
    width: 30px;
    margin: 0 10px;
    animation: loading 1.5s infinite linear;
}

.right {
    grid-column: 3;
    margin: 20px 20.1% 0 0;
    background-color: white;
    border: 1px solid #ccc;
}

.left {
    grid-column: 1;
    margin: 20px 0 0 20.1%;
    background-color: white;
    border: 1px solid #ccc;
}

@media only screen and (max-device-width: 500px) {
    .container {
        display: initial;
    }

    .left, .right {
        display: none;
    }

    .post-avatar {
        height: 40px;
    }
    .post-date {
        float: none;
    }
}