.container {
    grid-template-rows: auto auto;
}

.middle, .left, .right {
    grid-row: 2;
}

.header-cover {
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
}

    .cover-image {
        width: 90%;
        max-height: 300px;
    }

.header-avatar {
    text-align: center;
    padding: 20px 0;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 3px 3px 5px #ccc;
}
    .avatar-image {
        max-height: 200px;
        border-radius: 50%;
    }

    .header-avatar h2 {
        margin: 0 auto;
        color: red;
    }

    .header-avatar p {
        margin: 3px;
    }

    .follow-btn {
        background-color: orangered;
    }

        .follow-btn:hover {
            background-color: rgb(211, 56, 0);
        }

    .stop-following {
        background-color: #448BA3;
    }

        .stop-following:hover{ 
            background-color: rgb(211, 0, 0);
        }

.statistic {
    text-align: center;
    font-weight: bold;
    margin: 15px 10px 0 10px;
    padding: 5px;
    border-bottom: 3px solid #ccc; 
    max-height: 20px;
}